apiVersion: v1
kind: Service
metadata:
  name: argocd-extension-installer
  namespace: argocd-extension
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 8080
  selector:
    app: argocd-extension-installer